downloads/
apache-maven-3.8.3/
apache-zookeeper-3.6.2-bin/
conf_files/
hadoop-3.2.2/
hbase-2.3.4/
hdrs-1.1.0-without-cdh/
phoenix-hbase-2.3-5.1.2-bin/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
